*{
    box-sizing: border-box;
    margin: 0;
}
h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: chocolate;
}
img{
    max-width: 100%;
}
.image{
    display: flex;
    width: 100%;
    margin:60px auto;
}
.image1, .image2, .image3, .image4, .image5{
    position: relative;
}
.image1{
    left: 200px;
}
.image2{
    left:30px;
}
.image3{
    right:150px ;
}
.image4{
    right: 260px;
}
.image5{
    right: 380px;
}
.image1:hover{
    background-image: url('img1.jpeg');
    z-index: 1;
}
.image2:hover{
    background-image: url('img2.jpeg');
    z-index: 1;
}
.image3:hover{
    background-image: url('img3.jpeg');
    z-index: 1;
}
.image4:hover{
    background-image: url('img4.jpeg');
    z-index: 1;
}
